@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-weight: 400;
}

textarea {
  min-height: 100px;
}


input,
select,
textarea {
  border-width: 1.8px;
  padding: 1rem;
  width: 100%;
  outline: none;
  border-radius: 0.75rem;
}
