@tailwind base;
@tailwind components;
@tailwind utilities;

label {
  font-weight: 400;
}

textarea {
  min-height: 100px;
}


input,
select,
textarea {
  border-width: 1.8px;
  padding: 1rem;
  width: 100%;
  outline: none;
  border-radius: 0.75rem;
}

.grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.label{
  font-size: 13px;
  opacity: .99;
}

.label-content{
  font-size: 15px;
  font-weight: 600;
}

.loader{
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
}

.heading-style-1{
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem/* 20px */;
    line-height: 1.75rem/* 28px */;
    margin-top: 2rem/* 32px */;
}
.create-acc-label{
  font-weight: 600;
  font-size: 1rem/* 18px */;
  line-height: 1.75rem/* 28px */;
}

.manage-section-divs{
  @apply flex flex-col items-center gap-2
}

.btn-light{
  @apply rounded-md w-fit mx-auto bg-blue-200 bg-opacity-90 text-blue-800 text-sm font-bold px-4 py-1
}